#callback-btn {
	position: fixed;
	right: -16px;
	bottom: -16px;
	display: none;
	background-color: transparent;
	width: 160px;
	height: 160px;
	z-index: 200000!important;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	-webkit-transition: visibility .5s;
	-moz-transition: visibility .5s;
	-o-transition: visibility .5s;
	transition: visibility .5s;
	transform: scale(0.8);
}

#callback-btn a { text-decoration: none; }

#callback-btn .callback-btn-circle {
	opacity: .35;
	-webkit-animation: callback-btn-circle-anim 2.2s infinite ease-in-out!important;
	-moz-animation: callback-btn-circle-anim 2.2s infinite ease-in-out!important;
	-ms-animation: callback-btn-circle-anim 2.2s infinite ease-in-out!important;
	-o-animation: callback-btn-circle-anim 2.2s infinite ease-in-out!important;
	animation: callback-btn-circle-anim 1.2s infinite ease-in-out!important;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: transparent;
	border-radius: 100%;
	border: 2px solid #5aaade;
}

#callback-btn .callback-btn-circle-fill {
	opacity: .24;
	-webkit-animation: callback-btn-circle-fill-anim 2.3s infinite ease-in-out!important;
	-moz-animation: callback-btn-circle-fill-anim 2.3s infinite ease-in-out!important;
	-ms-animation: callback-btn-circle-fill-anim 2.3s infinite ease-in-out!important;
	-o-animation: callback-btn-circle-fill-anim 2.3s infinite ease-in-out!important;
	animation: callback-btn-circle-fill-anim 2.3s infinite ease-in-out!important;
	background: #5aaade repeat;
	width: 110px;
	height: 110px;
	top: 25px;
	left: 25px;
	position: absolute;
	border-radius: 100%;
	border: 2px solid transparent;
}

#callback-btn .callback-btn-img-circle {
	width: 80px;
	height: 80px;
	background: #5aaade center center no-repeat url('../image/callback_btn.png');
	position: absolute;
	top: 40px;
	left: 40px;
	border-radius: 100%;
	border: 2px solid transparent;
	opacity: .8;
	-webkit-animation: callback-btn-circle-img-anim 1s infinite ease-in-out;
	-moz-animation: callback-btn-circle-img-anim 1s infinite ease-in-out;
	-ms-animation: callback-btn-circle-img-anim 1s infinite ease-in-out;
	-o-animation: callback-btn-circle-img-anim 1s infinite ease-in-out;
	animation: callback-btn-circle-img-anim 1s infinite ease-in-out;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

#callback-btn:hover .callback-btn-img-circle, #callback-btn:hover .callback-btn-circle-fill { background-color: #72d582; }
#callback-btn:hover .callback-btn-circle { border-color: #72d582; }

#callback-btn:hover .callback-btn-img-circle {
	-webkit-animation: callback-btn-circle-img-anim-hover 1s infinite ease-in-out;
	-moz-animation: callback-btn-circle-img-anim-hover 1s infinite ease-in-out;
	-ms-animation: callback-btn-circle-img-anim-hover 1s infinite ease-in-out;
	-o-animation: callback-btn-circle-img-anim-hover 1s infinite ease-in-out;
	animation: callback-btn-circle-img-anim-hover 1s infinite ease-in-out;
}

@-moz-keyframes callback-btn-circle-anim {
	0% {
		-moz-transform: rotate(0deg) scale(0.5) skew(1deg);
		opacity: .1;
		-moz-opacity: .1;
		-webkit-opacity: .1;
		-o-opacity: .1;
	}

	30% {
		-moz-transform: rotate(0deg) scale(.7) skew(1deg);
		opacity: .5;
		-moz-opacity: .5;
		-webkit-opacity: .5;
		-o-opacity: .5;
	}

	100% {
		-moz-transform: rotate(0deg) scale(1) skew(1deg);
		opacity: .6;
		-moz-opacity: .6;
		-webkit-opacity: .6;
		-o-opacity: .1;
	}
}

@-webkit-keyframes callback-btn-circle-anim {
	0% { -webkit-transform: rotate(0deg) scale(0.5) skew(1deg); -webkit-opacity: .1; }
	30% { -webkit-transform: rotate(0deg) scale(.7) skew(1deg); -webkit-opacity: .5; }
	100% { -webkit-transform: rotate(0deg) scale(1) skew(1deg); -webkit-opacity: .1; }
}

@-o-keyframes callback-btn-circle-anim {
	0% { -o-transform: rotate(0deg) kscale(0.5) skew(1deg); -o-opacity: .1; }
	30% { -o-transform: rotate(0deg) scale(.7) skew(1deg); -o-opacity: .5; }
	100% { -o-transform: rotate(0deg) scale(1) skew(1deg); -o-opacity: .1; }
}

@keyframes callback-btn-circle-anim {
	0% { transform: rotate(0deg) scale(0.5) skew(1deg); opacity: .1; }
	30% { transform: rotate(0deg) scale(.7) skew(1deg); opacity: .5; }
	100% { transform: rotate(0deg) scale(1) skew(1deg); opacity: .1; }
}

@-moz-keyframes callback-btn-circle-fill-anim {
	0% { -moz-transform: rotate(0deg) scale(0.7) skew(1deg); opacity: .2; }
	50% { -moz-transform: rotate(0deg) -moz-scale(1) skew(1deg); opacity: .2; }
	100% { -moz-transform: rotate(0deg) scale(0.7) skew(1deg); opacity: .2; }
}

@-webkit-keyframes callback-btn-circle-fill-anim {
	0% { -webkit-transform: rotate(0deg) scale(0.7) skew(1deg); opacity: .2; }
	50% { -webkit-transform: rotate(0deg) scale(1) skew(1deg); opacity: .2; }
	100% { -webkit-transform: rotate(0deg) scale(0.7) skew(1deg); opacity: .2; }
}

@-o-keyframes callback-btn-circle-fill-anim {
	0% { -o-transform: rotate(0deg) scale(0.7) skew(1deg); opacity: .2; }
	50% { -o-transform: rotate(0deg) scale(1) skew(1deg); opacity: .2; }
	100% { -o-transform: rotate(0deg) scale(0.7) skew(1deg); opacity: .2; }
}

@keyframes callback-btn-circle-fill-anim {
	0% { transform: rotate(0deg) scale(0.7) skew(1deg); opacity: .2; }
	50% { transform: rotate(0deg) scale(1) skew(1deg); opacity: .2; }
	100% { transform: rotate(0deg) scale(0.7) skew(1deg); opacity: .2; }
}

@keyframes callback-btn-circle-img-anim {
	0% { transform: rotate(0deg) scale(1) skew(1deg); }
	10% { transform: rotate(-25deg) scale(1) skew(1deg); }
	20% { transform: rotate(25deg) scale(1) skew(1deg); }
	30% { transform: rotate(-25deg) scale(1) skew(1deg); }
	40% { transform: rotate(25deg) scale(1) skew(1deg); }
	50% { transform: rotate(0deg) scale(1) skew(1deg); }
	100% { transform: rotate(0deg) scale(1) skew(1deg); }
}

@-moz-keyframes callback-btn-circle-img-anim {
	0% { transform: rotate(0deg) scale(1) skew(1deg); }
	10% { -moz-transform: rotate(-25deg) scale(1) skew(1deg); }
	20% { -moz-transform: rotate(25deg) scale(1) skew(1deg); }
	30% { -moz-transform: rotate(-25deg) scale(1) skew(1deg); }
	40% { -moz-transform: rotate(25deg) scale(1) skew(1deg); }
	50% { -moz-transform: rotate(0deg) scale(1) skew(1deg); }
	100% { -moz-transform: rotate(0deg) scale(1) skew(1deg); }
}

@-webkit-keyframes callback-btn-circle-img-anim {
	0% { -webkit-transform: rotate(0deg) scale(1) skew(1deg); }
	10% { -webkit-transform: rotate(-25deg) scale(1) skew(1deg); }
	20% { -webkit-transform: rotate(25deg) scale(1) skew(1deg); }
	30% { -webkit-transform: rotate(-25deg) scale(1) skew(1deg); }
	40% { -webkit-transform: rotate(25deg) scale(1) skew(1deg); }
	50% { -webkit-transform: rotate(0deg) scale(1) skew(1deg); }
	100% { -webkit-transform: rotate(0deg) scale(1) skew(1deg); }
}

@-o-keyframes callback-btn-circle-img-anim {
	0% { -o-transform: rotate(0deg) scale(1) skew(1deg); }
	10% { -o-transform: rotate(-25deg) scale(1) skew(1deg); }
	20% { -o-transform: rotate(25deg) scale(1) skew(1deg); }
	30% { -o-transform: rotate(-25deg) scale(1) skew(1deg); }
	40% { -o-transform: rotate(25deg) scale(1) skew(1deg); }
	50% { -o-transform: rotate(0deg) scale(1) skew(1deg); }
	100% { -o-transform: rotate(0deg) scale(1) skew(1deg); }
}

@keyframes callback-btn-circle-img-anim-hover {
	0% { transform: rotate(0deg) scale(1) skew(1deg); }
	10% { transform: rotate(-35deg) scale(1) skew(1deg); }
	20% { transform: rotate(35deg) scale(1) skew(1deg); }
	30% { transform: rotate(-35deg) scale(1) skew(1deg); }
	40% { transform: rotate(35deg) scale(1) skew(1deg); }
	50% { transform: rotate(0deg) scale(1) skew(1deg); }
	100% { transform: rotate(0deg) scale(1) skew(1deg); }
}

@-moz-keyframes callback-btn-circle-img-anim-hover {
	0% { transform: rotate(0deg) scale(1) skew(1deg); }
	10% { transform: rotate(-35deg) scale(1) skew(1deg); }
	20% { transform: rotate(35deg) scale(1) skew(1deg); }
	30% { transform: rotate(-35deg) scale(1) skew(1deg); }
	40% { transform: rotate(35deg) scale(1) skew(1deg); }
	50% { transform: rotate(0deg) scale(1) skew(1deg); }
	100% { transform: rotate(0deg) scale(1) skew(1deg); }
}

@-webkit-keyframes callback-btn-circle-img-anim-hover {
	0% { transform: rotate(0deg) scale(1) skew(1deg); }
	10% { transform: rotate(-35deg) scale(1) skew(1deg); }
	20% { transform: rotate(35deg) scale(1) skew(1deg); }
	30% { transform: rotate(-35deg) scale(1) skew(1deg); }
	40% { transform: rotate(35deg) scale(1) skew(1deg); }
	50% { transform: rotate(0deg) scale(1) skew(1deg); }
	100% { transform: rotate(0deg) scale(1) skew(1deg); }
}

@-o-keyframes callback-btn-circle-img-anim-hover {
	0% { transform: rotate(0deg) scale(1) skew(1deg); }
	10% { transform: rotate(-35deg) scale(1) skew(1deg); }
	20% { transform: rotate(35deg) scale(1) skew(1deg); }
	30% { transform: rotate(-35deg) scale(1) skew(1deg); }
	40% { transform: rotate(35deg) scale(1) skew(1deg); }
	50% { transform: rotate(0deg) scale(1) skew(1deg); }
	100% { transform: rotate(0deg) scale(1) skew(1deg); }
}
